@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,600;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 bg-blue-50 mt-1-h;
  }
  p {
    @apply my-1-h;
  }
  ul {
    @apply list-outside list-none ml-2-ex mb-1-h;
  }
  ol {
    @apply list-outside list-none ml-4-ex mb-1-h;
  }
  a {
    @apply text-blue-500 cursor-pointer
    hover:underline
    hover:bg-blue-50;
  }
  hr {
    @apply text-red-500 border-t my-1-h;
  }
}

@layer components {
  /* header left-side markers */
  .header::before {
    position: absolute;
    left: -0.6rem;
    color: theme('colors.gray.300');
  }
  .header {
    position: relative;
  }
  .header-h1 {
    position: relative;
  }
  h1::before {
    content: '#';
    font-size: 1.1rem;
    transform: translate(-100%, -0.14rem);
  }
  h2::before {
    content: '##';
    font-size: 0.9rem;
    transform: translate(-100%, 0.07rem);
  }
  h3::before {
    content: '###';
    font-size: 0.8rem;
    transform: translate(-100%, 0.14rem);
  }
  h4::before {
    content: '####';
    font-size: 0.7rem;
    transform: translate(-100%, 0.24rem);
  }
  h5::before {
    content: '#####';
    font-size: 0.6rem;
    transform: translate(-100%, 0.28rem);
  }
  h6::before {
    content: '######';
    font-size: 0.5rem;
    transform: translate(-100%, 0.37rem);
  }

  /* remove bottom margin for nested lists */
  li > ul,
  ol {
    margin-bottom: 0;
  }

  /* asterisks for bullet points */
  ul > li::before {
    content: '*';
    margin-right: 1ex;
    color: theme('colors.gray.400');
  }

  /* custom counter for more control over ordered lists */
  ol {
    counter-reset: my_counter;
    position: relative;
  }
  ol > li::before {
    position: absolute;
    transform: translateX(calc(-100% - 1ex));
    content: counter(my_counter);
    counter-increment: my_counter;
    color: theme('colors.gray.400');
  }
}
